/*MEDIA QUERY MANAGER
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet Landscape
1200 - 1800px: Desktop
1800px +: Big Desktop

1em = 16px
*/

@mixin respond($device) {
   @if $device == phone {
      @media only screen and (max-width: 37.5em) {@content}; //600px
   }

   @if $device == tab-port {
      @media only screen and (max-width: 56.25em) {@content}; //900px
   }

   @if $device == tab-land {
      @media only screen and (max-width: 75em) {@content}; //1200px
   }

   @if $device == big-deskop {
      @media only screen and (min-width: 112.5em) {@content}; //1800px
   }
}