$color-typography: #1f252f;
$color-white: #fff;
$color-black: #000;
$color-glass-red: #9b1402;
$color-green: #45a25a;
$color-cream: #d1d1c8;
$color-sky-blue: #CEDAE5;
$color-sky-blue-2: #a3afc2;
$color-plum: #2c3a32;

$font-lato: 'Lato', sans-serif;

$color-orange: #eb5814;
$color-gold: #e6be8a;