$color-background: #1f252f;
$color-background-2: #647875;
$color-khaki: #e7dfd7;
$color-neumorph: #e8e8e8;
$color-typography: #1f252f;
$color-white: #fff;
$color-black: #000;
$color-glass-red: #9b1402;
$color-green: #45a25a;
$color-cream: #d1d1c8;
$color-khaki-grey: #d6d3d3;
$color-cream-2: #f2f1ef;
// $color-background-2: #4c385c;
// $color-background-2: #e6e5e5;
$color-navy-blue: #0d2235;
$color-navy-blue-2: #52616e;
$color-khaki-2: #8b8b74;
$color-sky-blue: #CEDAE5;
$color-sky-blue-2: #a3afc2;
$color-plum: #2c3a32;

$font-lato: 'Lato', sans-serif;